<!DOCTYPE html>
<html>
<head>
    <title>Random cat browser</title>
</head>
<body>
    <h1>Random cat browser</h1>
    <p>The purpose of this website is to show you a random photo of a cat. Here it is:</p>
    <p><img src="{{ url }}" title="Random cat" /></p>
</body>
</html>